@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Comfortaa&display=swap');
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body{
  background-color: rgb(252, 243, 232);
}

.top-bar, .top-bar ul {
  background-color: rgb(252, 243, 232);
}

.unselected {
  color: black;
}

.semi-selected {
  color: rgb(239, 177, 85);
}

.selected {
  color:  rgb(143, 176, 143);
}

.recommend {
  background-color: rgb(143, 176, 143);
  margin-bottom: 30px;
  border-radius: 10px;
  position: sticky;
  height: fit-content;
}

.semi-recommend {
  background-color: rgb(236, 227, 162);
  margin-bottom: 30px;
  border-radius: 10px;
  position: sticky;
  height: fit-content;
}

.available {
  background-color: rgb(189, 157, 157);
  margin-bottom: 30px;
  border-radius: 10px;
  position: sticky;
  height: fit-content;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.recipe-header {
  font-family: 'Amatic SC';
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
}

.recipe-title{
  font-family: 'Amatic SC';
  font-weight: bolder;
  text-align: center;
}

.ingredient {
  font-family: 'Comfortaa';
  margin: auto;
  font-size: 20px;
}

.button {
  border-radius: 10px;
  font-family: 'Comfortaa';
  background-color:  rgb(239, 177, 85);
  color: black;
}

.button:hover {
  font-family: 'Comfortaa';
  background-color:  rgb(239, 177, 85);
  color: black;
}

.button:focus {
  border-radius: 10px;
  font-family: 'Comfortaa';
  background-color:  rgb(239, 177, 85);
  color: black;
}

.app-title {
  font-family: 'Amatic SC';
  font-weight: bolder;
  font-size: 70px;
  color: rgb(143, 176, 143);
}

.app-title:focus {
  font-family: 'Amatic SC';
  font-weight: bolder;
  font-size: 70px;
  color: rgb(143, 176, 143);
}

.app-title:hover {
  color: rgb(165, 178, 165);
}

.reroll {
  font-family: 'Comfortaa';
  background-color: rgb(239, 177, 85);
  color: black;
}

.reroll:hover {
  font-family: 'Comfortaa';
  background-color: rgb(239, 177, 85);
  color: black;
}

.reroll:focus {
  font-family: 'Comfortaa';
  background-color: rgb(239, 177, 85);
  color: black;
}

.sign-in-button {
  font-family: 'Comfortaa';
  margin: 5px;
  background-color: rgb(239, 177, 85);
}

.sign-in-button:focus {
  font-family: 'Comfortaa';
  margin: 5px;
  background-color: rgb(239, 177, 85);
  color: black;
}

.sign-up-and-out-button {
  font-family: 'Comfortaa';
  margin: 5px;
  background-color: rgb(143, 176, 143);
}

.sign-up-and-out-button:hover {
  font-family: 'Comfortaa';
  background-color: rgb(143, 176, 143);
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.home-form {
  width: 50%;
}

.home-title {
  font-family: 'Amatic SC';
  font-weight: bolder;
  font-size: 50px;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-button {
  margin-right: 30px;
}

.input-field {
  border-radius: 50px;
}

.profile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 100%;
}

.ingredient-list {
  padding-right: 20px;
}

.ingredient-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.form-title{
  font-family: 'Amatic SC';
  font-weight: bolder;
  font-size: 40px;
}

.plain-title{
  font-family: 'Amatic SC';
  font-weight: bolder;
}

.plain-header {
  font-family: 'Comfortaa';
}

.auth-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-image {
  border-radius: 10px;
  margin-bottom: 30px;
}

.recipe-link {
  margin-left: 5%;
  margin-right: 5%;
}

.overlay {
  background-color: rgba(0,0,0,0.05);
  width: 100%;
  height: 100%; 
  z-index: -1;
  top: 0; 
  left: 0; 
  position: fixed; 
}

.popup-container {
  height: auto;
  width: 50%;
  margin: auto;
  margin-top: 20%;
  position: center;
  z-index: 1;
  background-color: rgb(245, 232, 215);
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
}

.recipe-subheader {
  font-family: 'Comfortaa';
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}

.edamam-link {
  color: rgb(143, 176, 143);
}

.edamam-link:hover {
  color: rgb(143, 176, 143);
  text-decoration: underline;
}

.edamam-link:focus {
  color: rgb(143, 176, 143);
}

.overlay-ingredient {
  font-family: 'Comfortaa';
  margin: auto;
  font-size: 30px;
}

.user-title {
  font-family: 'Amatic SC';
  font-weight: bolder;
  font-size: 50px;
}

@media (max-width: 1023px) {
  .overlay-ingredient{
    font-size: 25px;
  }
}

@media (max-width: 640px) {

  .recipe-title {
    font-size: 30px;
  }

  .plain-title {
    font-size: 50px;
  }

  .top-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .overlay-ingredient{
    font-size: 20px;
  }

  .food-image {
    margin-left: 9%;
  }  

  .home-title {
    text-align: center;
  }
  
  .profile-body {
    margin-right: 20%;
  }
  
  .ingredient-list {
    margin-right: 20%;
  }
  
  .user-title {
    margin-right: 20%;
  }
}

@media (max-width: 400) {
  .food-image {
    margin-left: 9%;
  } 

  .home-title {
    text-align: center;
  }

  .profile-body {
    margin-right: 20%;
  }

  .ingredient-list {
    margin-right: 20%;
  }

  .user-title {
    margin-right: 20%;
  }
}